.card
{
    width: 400px;
    height: 400px;
    background-color: aqua;
    border: 5px solid blue;
    color: red;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    font-weight: 800px;
}